.text-center {
  text-align: center;
}
.app {
  padding: 20px;
}
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app-header .actions {
  display: flex;
  align-items: center;
}
.app-header .actions span {
  margin: 0 10px;
}